body {
    background-color: rgb(22, 15, 41);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

main {
    flex: 1;
    color: rgb(36, 106, 115);
    padding-top: 20%;
    padding-right: 85px;
    text-align: center;
  }

h1 {
    position: relative;
    color: #827191;
}

h1::before {
    /* temporary code to make the circle where the profile picture is gonna be */
    content: '';
    position: absolute;
    top: -135px; /* Adjust the vertical position of the circle */
    left: 50%; /* Center the circle horizontally */
    transform: translateX(-50%);
    width: 120px; /* Adjust the size of the circle */
    height: 120px;
    background-color: #827191; /* Adjust the color of the circle */
    border-radius: 50%;
    border: 2px solid #827191;
    background-image: url('pictures/foto perfil.jpg');
    background-size: cover; /* Ensure the image covers the entire circle */
}

h2 {
    color: #827191;
}

section {
    padding-bottom: 15%;
}
h3 {
    font-size: small;
    text-align: center;
    padding: 10 px;
    padding-right: 5%;
}

h4 {
    color: black;
    font-size: small;
    text-align: center;
    padding: 10px;

}
footer {
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; /* Occupies the full height of the viewport */
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%; /* Occupy the full height of the footer */
}

nav li {
    margin-top: 170%;
    flex-grow: 1; /* Grow to fill the available space equally */
}


nav a {
    text-decoration: none;
    color: #D7D9B1;
    font-weight: bold;
    font-size: 14px;
}
